#popup {
  margin-top: -4rem;
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .wrapper {
    margin: 100px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 40%;
    height: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .wrapper h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: #333;
  }
  .wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .wrapper .content {
    margin-left: 10px;
    margin-right: 10px;
    height: 90%;
    overflow: auto;
  }
  .container {
    margin-top: 10px;
    width: fit-content;
  }
}
/* =================== MEDIA QUERIES - MEDIUM ===================== */
@media screen and (max-width: 1024px) {
  #popup {
    .wrapper {
      width: 80%;
      height: 70%;
    }
  }
}
/* =================== MEDIA QUERIES - SMALL ===================== */
@media screen and (max-width: 600px) {
  #popup {
    .wrapper {
      width: 90%;
      height: 80%;
    }
  }
}
